@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@100&family=Roboto:wght@300;400&display=swap');

:root {
    --cor-primaria: #000000; 
    --cor-texto-ficha: #643601;
    --fonte-principal: 'Vina Sans', sans-serif; 
}
body {
    color: var(--cor-primaria);
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.texto {
    font-family: 'Montserrat', sans-serif;
    flex: 2;
    text-align: justify;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    font-weight:bold ;

}
