@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
    --cor-primaria: #db8d34; 
    --cor-texto-ficha: #643601;
    --fonte-principal: 'Nova Square', sans-serif; 
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--cor-primaria);
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1750px;
    margin: 0 auto;
}

.ficha {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    border: 2px solid black;
    border-radius: 15px;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-ficha);
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

ul li ul {
    list-style-type: circle; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px; 
}

.ficha p ul {
    margin-left: 10px;
}

.texto {
    flex: 2;
    max-width: 1000px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: justify;
}

.ficha img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

ul {
    list-style-type: circle;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

h1 {
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 75px;
}

.menu {
    display: none;
}

.centro {
    text-align: center;
}

.direita {
    text-align: right;
}

@media (max-width: 768px) {
    .ficha, .texto {
        flex: 100%;
        max-width: none;
        margin: 20px auto;
    }
}
    }
}
